<div class="body">
		<div class="header">
			<div class = name>Komarov And Щербина <span>Дизайн</span></div>


	  		<div class="login">
	    				<input type="text" placeholder="username" name="user"><br>
					    <input type="password" placeholder="password" name="password"><br>
					    <input type="button" value="Login"><br>
			</div>
		</div>
</div>
